.table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 10px;
  border-collapse: collapse;
  text-align: center;
  
  th, td:first-child {
    background: #75c732;
    color: white;
    padding: 10px 20px;
  }
  
  th, td {
    border: 1px solid rgb(51, 177, 13);
  }
  
  td {
    background: #c8fad0;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
}
