:root {
  --background-color: #979998;
  --border-color: #69d14a;
  --items-color: #ecf3e8;
  --text-color:   #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

th, td:first-child {
  background: var(--background-color);
  color: var( --text-color);
  padding: 10px 20px;
  }
  